<div class="form-template" id="edit-project-form">
	<h2>Edit <%= @project.title %></h2>
	<%= render partial: 'form' %><br>
	<%= link_to "DELETE", project_path(@project), method: :delete, data: {confirm: "Are you sure you want to delete #{@project.title} from your reel?"}, :class => "button delete" %>
</div>