// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-view {
	text-align: center;
	line-heigt: 2pt;
}

#title {
	margin: 0 auto;
}

#project-subheader {
	margin: 0px auto;
	padding: 0;
}

#description {
	margin: 16px 10%;
	text-align: left;
}