// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-index {
	
	position: relative;
	padding-left: 80px;
}

#project-view {
	text-align: center;
	line-heigt: 2pt;
}

#title {
	margin: 0 auto;
}

#project-subheader {
	margin: 0px auto;
	padding: 0;
}

#description {
	margin: 16px 10%;
	text-align: left;
}


.form-template {
	text-align: center;
	border: 1px solid black;
	width: 50%
}

.form {
	box-shadow: 1px;
}

.form-field {
	font-size: 12pt;
	line-height: 18pt !important;
	margin: 0px auto;
	width: 80%;
}

.text-area {
	height: 50px;
}
